<div class="container-fluid">
  <div class="row pt-4">
    <div class="col-6">
      <h4 class="">Student Portal</h4>
    </div>
    <div class="col-6 text-end">
      <button
        type="button"
        class="btn btn-outline-success"
        (click)="openModel()"
      >
        Add New Record
      </button>
    </div>
  </div>

  @if (studentList.length !== 0) {
  <div class="row pt-4">
    @for (item of studentList; track $index) {
    <div class="col-4">
      <div class="card">
        <h5 class="card-header bg-white">{{ item.name }}</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              {{ item.mobile }}
            </div>
            <div class="col-6">
              {{ item.pincode }}
            </div>
            <div class="col-6">
              {{ item.email }}
            </div>
            <div class="col-6">
              {{ item.state }}
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-8">
              {{ item.address }}
            </div>
            <div class="col-4">
              <button class="btn btn-sm btn-primary me-2" (click)="onEdit(item)">
                Edit
              </button>
              <button class="btn btn-sm btn-danger" (click)="onDelete(item)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  } @else{
  <div>
    <h1 class="text-center">No Data</h1>
  </div>
  }
</div>

<!-- The Modal -->
<div class="modal" id="myModal" #myModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header" #myModal>
        <h4 class="modal-title">New Record</h4>
        <button type="button" class="btn-close" (click)="closeModel()"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-12 pb-2">
            <label for="name">Name</label>
            <input
              type="text"
              [(ngModel)]="studentObj.name"
              class="form-control"
              placeholder="Student Name"
            />
          </div>
          <div class="col-6 pb-2">
            <label for="email">Email</label>
            <input
              type="text"
              [(ngModel)]="studentObj.email"
              class="form-control"
              placeholder="Email ID"
            />
          </div>
          <div class="col-6 pb-2">
            <label for="Mobile No">Mobile No</label>
            <input
              type="text"
              [(ngModel)]="studentObj.mobile"
              class="form-control"
              placeholder="Mobile No"
            />
          </div>
          <div class="col-6 pb-2">
            <label for="state">State</label>
            <input
              type="text"
              [(ngModel)]="studentObj.state"
              class="form-control"
              placeholder="State"
            />
          </div>
          <div class="col-6 pb-2">
            <label for="pincode">Pin Code</label>
            <input
              type="text"
              [(ngModel)]="studentObj.pincode"
              class="form-control"
              placeholder="Pin Code"
            />
          </div>
          <div class="col-12 pb-2">
            <label for="Address">Address</label>
            <textarea
              rows="3"
              [(ngModel)]="studentObj.address"
              class="form-control"
              placeholder="Address"
            ></textarea>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModel()">
          Close
        </button>
        @if(studentObj.id == 0){
        <button type="button" class="btn btn-primary" (click)="saveStudent()">
          Save
        </button>

        } @else{
        <button type="button" class="btn btn-primary" (click)="updateStudent()">
          Update
        </button>
        }
      </div>
    </div>
  </div>
</div>
